/* Write your code here. */
.list {
  background-color: #ffffff33;
  border: 1px solid #ffffff30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 18px;
  border-radius: 20px;
}
.emoji-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0px;
}
